[Unit]
Description=GarcArzP HUB - IG Analytics Tracker
After=network.target

[Service]
Type=simple
User=patrik
WorkingDirectory=/home/patrik/server/IGTracker
Environment="PATH=/home/patrik/server/IGTracker/venv/bin:/usr/local/bin:/usr/bin"
Environment="IG_PORT=5080"
Environment="IG_HOST=127.0.0.1"
Environment="IG_TRACKER_PASSWORD=patrik3924"
Environment="IG_ACCESS_TOKEN=IGAAT23agf4apBZAFpHRUlkbXNqcEFkcjZAnY01wZAFM4X2Q5VmJJUHhzZAm92NEZA4d3BKQWZARNllmbVhQWDJKNnM4QzFJUV9qV0FDOFNMaDFybE44M1Q2QVdFRFVXZAFJpM3NHOFVlMmg0RFRZAOWVuR3pKNWFuanNIY0lMZATdDa1hJQQZDZD"
Environment="IG_USER_ID=28128338910166119"
ExecStart=/home/patrik/server/IGTracker/venv/bin/python app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
